
TaskManagement/.vs/TaskManagement/FileContentIndex/06efa5a7-855e-42db-93dd-94ee2b57f93c.vsidx
TaskManagement/.vs/TaskManagement/FileContentIndex/63b2ee30-58a2-43ef-b2c5-954d5dc2fdd2.vsidx
TaskManagement/.vs/TaskManagement/FileContentIndex/68f077a1-6133-474a-8f32-34d91cfd4014.vsidx
TaskManagement/.vs/TaskManagement/FileContentIndex/b94e308b-45fa-4585-8f9d-22e3a8a57882.vsidx
TaskManagement/.vs/TaskManagement/FileContentIndex/cfb3fa32-9676-4c32-89d6-9adc7d7bffe6.vsidx
TaskManagement/.vs/TaskManagement/FileContentIndex/f7c86f4d-06c5-4d41-a276-9a7e4ad1f4db.vsidx
TaskManagement/.vs/TaskManagement/v17/.suo
TaskManagement/TaskManagement/appsettings.json
TaskManagement/TaskManagement/bin/Debug/net6.0/appsettings.json
TaskManagement/TaskManagement/bin/Debug/net6.0/TaskManagement.dll
TaskManagement/TaskManagement/bin/Debug/net6.0/TaskManagement.exe
TaskManagement/TaskManagement/bin/Debug/net6.0/TaskManagement.pdb
TaskManagement/TaskManagement/obj/Debug/net6.0/apphost.exe
TaskManagement/TaskManagement/obj/Debug/net6.0/ref/TaskManagement.dll
TaskManagement/TaskManagement/obj/Debug/net6.0/refint/TaskManagement.dll
TaskManagement/TaskManagement/obj/Debug/net6.0/TaskManagement.assets.cache
TaskManagement/TaskManagement/obj/Debug/net6.0/TaskManagement.csproj.AssemblyReference.cache
TaskManagement/TaskManagement/obj/Debug/net6.0/TaskManagement.csproj.CoreCompileInputs.cache
TaskManagement/TaskManagement/obj/Debug/net6.0/TaskManagement.csproj.FileListAbsolute.txt
TaskManagement/TaskManagement/obj/Debug/net6.0/TaskManagement.dll
TaskManagement/TaskManagement/obj/Debug/net6.0/TaskManagement.GeneratedMSBuildEditorConfig.editorconfig
TaskManagement/TaskManagement/obj/Debug/net6.0/TaskManagement.genruntimeconfig.cache
TaskManagement/TaskManagement/obj/Debug/net6.0/TaskManagement.pdb
TaskManagement/TaskManagement/obj/project.assets.json
TaskManagement/TaskManagement/obj/project.nuget.cache
TaskManagement/TaskManagement/obj/TaskManagement.csproj.nuget.dgspec.json
TaskManagement/TaskManagement/obj/TaskManagement.csproj.nuget.g.props
